Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Passing "getFetchUrlPriority" from Extension to ApiDataSource
  packages/falcon-server-env/src/models/ApiDataSource.ts
  packages/falcon-server-env/src/models/Extension.ts
Due: eslint --fix

feat(shop-with-blog): add header & footer & home layouts initial versions
  examples/shop-with-blog/client/package.json
  examples/shop-with-blog/client/src/App.css
  examples/shop-with-blog/client/src/App.js
  examples/shop-with-blog/client/src/App.test.js
  examples/shop-with-blog/client/src/clientState.js
  examples/shop-with-blog/client/src/components/AppLayout.js
  examples/shop-with-blog/client/src/components/Footer.js
  examples/shop-with-blog/client/src/components/Header.js
  examples/shop-with-blog/client/src/components/Products.js
  examples/shop-with-blog/client/src/components/index.js
  examples/shop-with-blog/client/src/pages/Home.js
  examples/shop-with-blog/client/src/pages/home/Home.css
  examples/shop-with-blog/client/src/pages/home/Home.js
  examples/shop-with-blog/client/src/theme.js
Due: eslint --fix, prettier --write

build: run prepare scripts in packages when executing yarn install from root dir - https://github.com/yarnpkg/yarn/issues/3911#issuecomment-343270644
  package.json
Due: prettier --write

build: force running prepare script for falcon-ui first
  package.json
Due: prettier --write

feat(uikit): added ts support into falcon-client
  examples/shop-with-blog/client/package.json
  examples/shop-with-blog/client/tsconfig.json
  packages/falcon-client/package.json
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix, prettier --write

fix(theme-editor): update the way state is set for open panels so it's 'pure'
  packages/falcon-theme-editor/src/index.tsx
Due: none

Passing "extensionContainer" as object value to Extension class Adjusting ApiDataSource.preprocessParams method
  packages/falcon-blog-extension/src/schema.test.js
  packages/falcon-server-env/src/models/ApiDataSource.test.ts
  packages/falcon-server-env/src/models/ApiDataSource.ts
  packages/falcon-server-env/src/models/Extension.test.ts
  packages/falcon-server-env/src/models/Extension.ts
  packages/falcon-server/src/containers/ExtensionContainer.js
  packages/falcon-shop-extension/src/schema.test.js
Due: eslint --fix

resolving the issue with "graphql" dependency
  examples/shop-with-blog/client/package.json
  packages/falcon-blog-extension/package.json
  packages/falcon-client/package.json
  packages/falcon-server-env/package.json
  packages/falcon-server/package.json
  packages/falcon-shop-extension/package.json
Due: prettier --write

Handling "fetchUrl" with Wordpress API
  packages/falcon-blog-extension/src/index.js
  packages/falcon-blog-extension/src/index.test.js
  packages/falcon-wordpress-api/package.json
  packages/falcon-wordpress-api/src/index.js
  packages/falcon-wordpress-api/src/index.test.js
Due: eslint --fix, prettier --write

improvement (falcon-ui): rewrite dropdown component implementation, tweak default theme
  packages/falcon-ui/package.json
  packages/falcon-ui/src/components/Badge.mdx
  packages/falcon-ui/src/components/Badge.tsx
  packages/falcon-ui/src/components/Divider.tsx
  packages/falcon-ui/src/components/Dropdown.mdx
  packages/falcon-ui/src/components/Dropdown.tsx
Due: prettier --write

improvement (ecommerce-toolkit): update header & language switcher impl & styling
  packages/falcon-ecommerce-uikit/src/Header.tsx
  packages/falcon-ecommerce-uikit/src/LanguageSwitcher.tsx
Due: none

feat(app-shell): rename unit tests file for client
  packages/falcon-client/src/client.test.js
Due: eslint --fix

feat(ecommerce-toolkit): add products category page - WIP
  examples/shop-with-blog/client/src/App.js
  examples/shop-with-blog/client/src/clientState.js
  examples/shop-with-blog/client/src/theme.js
  packages/falcon-ecommerce-uikit/src/ProductsCategory.tsx
  packages/falcon-ecommerce-uikit/src/index.ts
Due: eslint --fix

feat(app-shell): moved falconWebServer creation into ./index.js
  packages/falcon-client/src/index.js
  packages/falcon-client/src/server.js
  packages/falcon-client/src/server.test.js
  packages/falcon-client/src/server/instance.js
Due: eslint --fix

feat(app-shell): moved middlewares one level up in folder structure
  packages/falcon-client/src/middlewares/error500Middleware.js
  packages/falcon-client/src/middlewares/routes/apolloClientProvider.js
  packages/falcon-client/src/middlewares/routes/appShellMiddleware.js
  packages/falcon-client/src/middlewares/routes/helmetMiddleware.js
  packages/falcon-client/src/middlewares/routes/i18nextMiddleware.js
  packages/falcon-client/src/middlewares/routes/index.js
  packages/falcon-client/src/middlewares/routes/ssrMiddleware.js
  packages/falcon-client/src/middlewares/serverTimingMiddleware.js
Due: eslint --fix

feat(app-shell): fixed unit tests
  packages/falcon-client/src/server.test.js
Due: eslint --fix

feat(app-shell): clean up
  examples/shop-with-blog/client/src/App.js
Due: eslint --fix

feat(app-shell): if no SSR then at least helmet should be rendered
  packages/falcon-client/src/middlewares/routes/index.js
Due: eslint --fix

feat(app-shell): removed RAZZLE_ASSETS_MANIFEST as it is not necessary
  packages/falcon-client/src/index.js
Due: eslint --fix

docs(falcon-server-env): Adding docs for ApiDataSource and Extension classes
  packages/falcon-server-env/docs/README.md
  packages/falcon-server-env/src/models/ApiDataSource.ts
Due: eslint --fix

feat(shop&blog): add loader icon to theme
  examples/shop-with-blog/client/public/loader.svg
  examples/shop-with-blog/client/src/theme.js
  packages/falcon-ecommerce-uikit/src/Category.tsx
Due: eslint --fix

refactoring(ecommerce-toolkit): change products category to category
  examples/shop-with-blog/client/src/App.js
  packages/falcon-ecommerce-uikit/src/Products.tsx
  packages/falcon-ecommerce-uikit/src/ProductsCategory.tsx
  packages/falcon-ecommerce-uikit/src/index.ts
Due: eslint --fix

improvement(falcon-ui): update divider & dropdown default theme
  packages/falcon-ui/src/components/Divider.tsx
  packages/falcon-ui/src/components/Dropdown.tsx
  packages/falcon-ui/src/theme/theme.ts
Due: eslint --fix

feat(query-components): added dynamic route
  examples/shop-with-blog/client/src/App.js
  examples/shop-with-blog/client/src/components/Products.js
  examples/shop-with-blog/client/src/pages/Home.js
  examples/shop-with-blog/client/src/pages/shop/Category.js
  examples/shop-with-blog/client/src/pages/shop/Cms.js
  examples/shop-with-blog/client/src/pages/shop/Product.js
  packages/falcon-client/src/components/DynamicRoute.js
Due: eslint --fix

fix(falcon-wordpress-api): Fixing compatibility with dynamic-route extension
  packages/falcon-wordpress-api/src/index.js
  packages/falcon-wordpress-api/src/index.test.js
Due: eslint --fix

feat(app-shell): I do not have idea why it is there
  packages/falcon-client/src/server.test.js
Due: eslint --fix

improvement(falcon-dynamic-route-extension): moving extension's schema to a separate file
  packages/falcon-dynamic-route-extension/index.js
  packages/falcon-dynamic-route-extension/schema.graphql
Due: eslint --fix, prettier --write

fix(falcon-dynamic-route-extension): fixing "url" query argument type
  packages/falcon-dynamic-route-extension/schema.graphql
Due: prettier --write

feat(ecommerce-toolkit): extract breadcrumbs as separate component
  packages/falcon-ecommerce-uikit/src/Breadcrumbs.tsx
Due: none

feat(ecommerce-tools): show loader component when query is still loading data
  packages/falcon-ecommerce-uikit/src/Query.tsx
Due: none

fix(shop): unify types for content returned by dynamic routing api
  packages/falcon-magento2-api/src/index.js
Due: eslint --fix

feat(query-components): make app working again
  examples/shop-with-blog/client/src/App.js
  examples/shop-with-blog/client/src/assets/loader.svg
  examples/shop-with-blog/client/src/theme.js
Due: eslint --fix

feat(ecommerce-toolkit): initial version of product page
  examples/shop-with-blog/client/src/App.js
  examples/shop-with-blog/client/src/clientState.js
  examples/shop-with-blog/client/src/theme.js
  packages/falcon-ecommerce-uikit/src/Category.tsx
  packages/falcon-ecommerce-uikit/src/Product.tsx
  packages/falcon-ecommerce-uikit/src/ProductMeta.tsx
  packages/falcon-ecommerce-uikit/src/Products.tsx
  packages/falcon-ecommerce-uikit/src/index.ts
Due: eslint --fix

improvement(falcon-ui): tweak default breakpoints values
  packages/falcon-ui/src/theme/theme.ts
Due: eslint --fix

feat(query-components): fixed dynamic route tests
  packages/falcon-client/src/client.test.js
Due: eslint --fix

feat(query-components): as it is not client test move it into proper place and rename
  packages/falcon-client/src/components/DynamicRoute.test.js
Due: eslint --fix

feat(query-components): simplified dynamic route, loading products from server
  examples/shop-with-blog/client/src/App.js
  packages/falcon-client/src/components/DynamicRoute.js
  packages/falcon-ecommerce-uikit/src/Products.tsx
Due: eslint --fix

feat(query-components): fixed unit tests
  packages/falcon-client/src/components/DynamicRoute.test.js
Due: eslint --fix

feat(ecommerce-toolkit): add product selectors & gallery - WIP
  packages/falcon-ecommerce-uikit/src/Product.tsx
  packages/falcon-ecommerce-uikit/src/ProductGallery.tsx
  packages/falcon-ecommerce-uikit/src/ProductMeta.tsx
  packages/falcon-ui/src/components/Checkbox.tsx
  packages/falcon-ui/src/components/Radio.tsx
Due: none

fix(shop): remove processing of shop description by cheerio
  packages/falcon-magento2-api/package.json
  packages/falcon-magento2-api/src/index.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jxs,ts, tsx}
  prettier --write: any of: *.{json,css,scss,graphql,yml}
