Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: fixed building falcon client
  packages/falcon-client/package.json
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix, prettier --write

feature: Adding travis CI config
  .travis.yml
Due: prettier --write

fix: DynamicRoute test
  packages/falcon-client/src/components/DynamicRoute.test.js
Due: eslint --fix

fix: falcon-clinet compile - removed falcon client ui - code improvements
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

fix: falcon-clinet compile added exaplanation for fix
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

Bump up version of falcon-client
  packages/falcon-client/package.json
Due: prettier --write

feat: enabling yarn cache for TravisCI
  .travis.yml
Due: prettier --write

feat: Adding "building" badge to README.md
  README.md
Due: none

fix: removed exclude /node_modules/ from graphql-tag loader configuration
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

feat(fix-falcon-client): change version
  packages/falcon-client/package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jxs,ts, tsx}
  prettier --write: any of: *.{json,css,scss,graphql,yml}
