Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

"linters": {
  "*.{js,jxs,ts, tsx}": ["eslint --fix", "git add"],
  "*.{json,css,scss,graphql,yml}": ["prettier --write", "git add"]
}

improvement(ecommerce-toolkit): improve navbar & it's clickable area
  packages/falcon-ecommerce-uikit/src/Header/Header.tsx
  packages/falcon-ui/src/components/List.tsx
  packages/falcon-ui/src/components/Navbar.mdx
  packages/falcon-ui/src/components/Navbar.tsx
Due: none

feat(query-conponents): added outstanding translations for Category
  packages/falcon-ecommerce-uikit/src/Category/Category.tsx
  packages/falcon-ecommerce-uikit/src/Category/CategoryQuery.tsx
  packages/falcon-ecommerce-uikit/src/Category/index.ts
  packages/falcon-i18n/i18n/en/shop.json
Due: eslint --fix, prettier --write

doc(falcon-errors): Adding README.md file
  packages/falcon-dynamic-route-extension/package.json
  packages/falcon-errors/README.md
Due: prettier --write

fix: minor package updates, fixing typos
  .lintstagedrc
  examples/shop-with-blog/client/package.json
  packages/falcon-client/package.json
  packages/falcon-client/src/service/ApolloClient.js
  packages/falcon-dynamic-route-extension/index.js
  packages/falcon-errors/src/errors.js
Due: eslint --fix, prettier --write

feat(falcon-client): adding new `NotFoundRoute` component
  packages/falcon-client/src/components/NotFoundRoute.js
Due: eslint --fix

feat(server): add cors
  packages/falcon-server/package.json
  packages/falcon-server/src/index.js
Due: eslint --fix, prettier --write

feat(client): include credentials in Apollo requests
  packages/falcon-client/src/service/ApolloClient.js
Due: eslint --fix

feat(theme-editor): ad presets, enable theme editor in example project
  examples/shop-with-blog/client/package.json
  examples/shop-with-blog/client/src/App.js
  examples/shop-with-blog/client/src/theme.js
  packages/falcon-ecommerce-uikit/src/Product.tsx
  packages/falcon-ecommerce-uikit/src/Products.tsx
  packages/falcon-theme-editor/package.json
  packages/falcon-theme-editor/src/index.tsx
  packages/falcon-theme-editor/src/presets.tsx
Due: eslint --fix, prettier --write

fix(falcon-ui): fix issue with re-opening dropdown when should be closed
  packages/falcon-ui/src/components/Dropdown.tsx
Due: none

feat(query-components): added load more
  packages/falcon-ecommerce-uikit/src/Category/Category.tsx
  packages/falcon-ecommerce-uikit/src/Category/CategoryQuery.tsx
  packages/falcon-ecommerce-uikit/src/Query/Query.tsx
Due: none

fix(falcon-client): Setting 500 status code on Network GraphQL error
  packages/falcon-client/package.json
  packages/falcon-client/src/middlewares/routes/apolloClientProvider.js
Due: eslint --fix, prettier --write

feat(theme-editor): proof of concept google fonts preview support, add insanely green theme
  packages/falcon-ecommerce-uikit/src/Footer/Footer.tsx
  packages/falcon-theme-editor/src/index.tsx
  packages/falcon-theme-editor/src/presets.tsx
  packages/falcon-ui/src/components/Icon.tsx
  packages/falcon-ui/src/theme/theme.ts
Due: eslint --fix

improvement(falcon-client): remove wait flag from i18nnext options
  packages/falcon-client/src/i18n/i18nClientFactory.js
Due: eslint --fix

feat(query-components): added loader inside show more button
  packages/falcon-ecommerce-uikit/src/Category/Category.tsx
  packages/falcon-ecommerce-uikit/src/Category/CategoryQuery.tsx
  packages/falcon-ecommerce-uikit/src/Query/Query.tsx
Due: none

feat(theme-editor): update presets
  packages/falcon-theme-editor/src/index.tsx
  packages/falcon-theme-editor/src/presets.tsx
Due: none

fix: return error string instead of null i there is no component to render in dynamic Route
  examples/shop-with-blog/client/src/App.js
  packages/falcon-client/src/components/DynamicRoute.js
Due: eslint --fix

fix: removed blinking for translation
  packages/falcon-client/src/middlewares/routes/ssrMiddleware.js
Due: eslint --fix

improvement(theme-editor): tweak editor ui, update presets
  packages/falcon-theme-editor/src/index.tsx
  packages/falcon-theme-editor/src/presets.tsx
Due: none

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: none

fix(falcon-client): fixing `url` gql query fixing "error 500" error page logo
  packages/falcon-client/src/graphql/url.gql
  packages/falcon-client/views/errors/500.html
Due: none

fix(falcon-client): tests DynamicRoute handles "NotFound" response
  packages/falcon-client/src/client.test.js
  packages/falcon-client/src/components/DynamicRoute.js
Due: eslint --fix

fix(falcon-client): logging errors
  packages/falcon-client/src/middlewares/error500Middleware.js
Due: eslint --fix

feat(client): pass cookie with ApolloClient request
  packages/falcon-client/src/middlewares/routes/apolloClientProvider.js
  packages/falcon-client/src/service/ApolloClient.js
Due: eslint --fix

fix(falcon-client): removing commented code
  packages/falcon-client/src/components/DynamicRoute.js
  packages/falcon-client/src/graphql/url.gql
Due: eslint --fix

Fixing tests for DynamicRoute
  packages/falcon-client/src/__mocks__/pages/Foo.js
  packages/falcon-client/src/components/DynamicRoute.js
  packages/falcon-client/src/components/DynamicRoute.test.js
  packages/falcon-client/src/components/Query/index.js
  packages/falcon-client/src/graphql/url.gql
Due: eslint --fix

Fixing lang name Fixing images
  examples/shop-with-blog/client/config/default.json
  examples/shop-with-blog/client/src/clientState.js
Due: eslint --fix, prettier --write

fix:Removing deplicate script Cleaning up the comments
  examples/shop-with-blog/client/src/pages/shop/Category.js
  examples/shop-with-blog/client/src/pages/shop/Product.js
  package.json
Due: eslint --fix, prettier --write

removing obsolete test file
  packages/falcon-client/src/client.test.js
Due: eslint --fix

fix: changing package versions to 0.0.1
  examples/shop-with-blog/client/package.json
  examples/shop-with-blog/server/package.json
  packages/create-falcon-app/package.json
  packages/falcon-blog-extension/package.json
  packages/falcon-client/package.json
  packages/falcon-dev-tools/eslint-config-falcon/package.json
  packages/falcon-dev-tools/falcon-i18n-webpack-plugin/package.json
  packages/falcon-dynamic-route-extension/package.json
  packages/falcon-ecommerce-uikit/package.json
  packages/falcon-errors/package.json
  packages/falcon-i18n/package.json
  packages/falcon-logger/package.json
  packages/falcon-magento2-api/package.json
  packages/falcon-server-env/package.json
  packages/falcon-server/package.json
  packages/falcon-shop-extension/package.json
  packages/falcon-theme-editor/package.json
  packages/falcon-tweets-extension/README.md
  packages/falcon-tweets-extension/package.json
  packages/falcon-ui/package.json
  packages/falcon-wordpress-api/package.json
Due: prettier --write

feix: version change
  package.json
Due: prettier --write

Update README.md
  README.md
Due: none

fix: adding Falcon logo
  README.md
Due: none

fix: setting Lerna.version to "independent"
  lerna.json
Due: prettier --write

fix: fixed client dependencies
  packages/falcon-client/package.json
Due: prettier --write

Fixing falcon-client version
  examples/shop-with-blog/client/package.json
  packages/falcon-client/package.json
Due: prettier --write
