Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(query-components): as css could be optional, merge these glob pattern with js
  packages/falcon-client/src/buildTools/workbox/index.js
Due: eslint --fix

feat(query-components): query product data from server
  packages/falcon-ecommerce-uikit/src/Product.tsx
Due: none

fix(falcon-server-env): Disabling "memoized" map, setting fixed package versions
  packages/falcon-server-env/package.json
  packages/falcon-server-env/src/models/ApiDataSource.ts
Due: eslint --fix, prettier --write

feat(query-components): added variables into Query
  packages/falcon-ecommerce-uikit/src/Query.tsx
Due: none

feat(query-components): renderind Product page
  examples/shop-with-blog/client/src/pages/shop/Product.js
Due: eslint --fix

test(falcon-server-env): Adding tests
  packages/falcon-server-env/src/models/ApiDataSource.test.ts
Due: eslint --fix

feat(query-components): fixed dynamic route types
  examples/shop-with-blog/client/src/App.js
Due: eslint --fix

feat(query-components): product.configurableOptions will be always provided
  packages/falcon-magento2-api/src/index.js
Due: eslint --fix

feat(query-components): updated product query
  packages/falcon-ecommerce-uikit/src/Product.tsx
Due: none

feat(query-components): rename
  packages/falcon-ecommerce-uikit/src/Product.tsx
Due: none

improvement(ecommerce-toolbox): finish product gallery component - v0.1
  packages/falcon-ecommerce-uikit/src/Product.tsx
  packages/falcon-ecommerce-uikit/src/ProductGallery.tsx
Due: none

feata(query-components): added product and productQuery
  examples/shop-with-blog/client/src/pages/shop/Product.js
  packages/falcon-ecommerce-uikit/src/Product.tsx
Due: eslint --fix

feat(query-components): added some translations
  packages/falcon-i18n/i18n/en/shop.json
Due: prettier --write

feat(query-components): added react i18next into ecommerce uikit
  examples/shop-with-blog/client/package.json
  packages/falcon-ecommerce-uikit/package.json
Due: prettier --write

feat(query-components): I will pass only id and path into child components
  packages/falcon-client/src/components/DynamicRoute.js
Due: eslint --fix

feature(shop): magento auth - signUp, signIn, signOut, fetchCustomer (WIP - no error handling yet)
  packages/falcon-magento2-api/src/Magento2ApiBase.js
  packages/falcon-magento2-api/src/index.js
Due: eslint --fix

feat(query-components): added redirect into dynamic route
  packages/falcon-client/src/components/DynamicRoute.js
Due: eslint --fix

feat(qyery-component): removed unecessary import
  examples/shop-with-blog/client/src/App.js
Due: eslint --fix

feat(query-components): moved ProductQuery to separate files
  packages/falcon-ecommerce-uikit/src/Product.tsx
  packages/falcon-ecommerce-uikit/src/ProductQuery.tsx
  packages/falcon-ecommerce-uikit/src/index.ts
Due: eslint --fix

feat(query-components): added props types for ProductPage
  examples/shop-with-blog/client/src/pages/shop/Product.js
Due: eslint --fix

feat(query-componets): added i18n types, and test code
  packages/falcon-ecommerce-uikit/package.json
  packages/falcon-ecommerce-uikit/src/ProductQuery.tsx
Due: prettier --write

build(ecommerce-toolkit): handle issue with rollup bundle when i18n-next is included
  packages/falcon-ecommerce-uikit/package.json
  packages/falcon-ecommerce-uikit/rollup.config.js
Due: eslint --fix, prettier --write

feat(query-components): fixed unit tests
  packages/falcon-client/src/components/DynamicRoute.js
  packages/falcon-client/src/components/DynamicRoute.test.js
Due: eslint --fix

cleanup(shop& blog): remove old components
  examples/shop-with-blog/client/src/components/AppLayout.js
  examples/shop-with-blog/client/src/components/Footer.js
  examples/shop-with-blog/client/src/components/Header.js
  examples/shop-with-blog/client/src/components/Products.js
  examples/shop-with-blog/client/src/components/index.js
Due: eslint --fix

feat(ecommerce-toolkit): add new Query and Loader component
  packages/falcon-ecommerce-uikit/src/Query/Loader.tsx
  packages/falcon-ecommerce-uikit/src/Query/Query.tsx
Due: none

app(sje
  examples/shop-with-blog/client/src/pages/shop/Product.js
  packages/falcon-ecommerce-uikit/src/Product.tsx
  packages/falcon-ecommerce-uikit/src/ProductQuery.tsx
  packages/falcon-i18n/i18n/en/shop.json
Due: eslint --fix, prettier --write

improvement(ecommerce-tools): update Header component to new structure, refactor it where possible
  examples/shop-with-blog/client/src/App.js
  packages/falcon-ecommerce-uikit/src/Header.tsx
  packages/falcon-ecommerce-uikit/src/Header/Header.tsx
  packages/falcon-ecommerce-uikit/src/Header/HeaderQuery.tsx
  packages/falcon-ecommerce-uikit/src/Header/index.ts
  packages/falcon-ecommerce-uikit/src/Query/index.ts
  packages/falcon-ecommerce-uikit/src/helpers.ts
  packages/falcon-ui/src/theme/propsmapings.ts
  packages/falcon-ui/src/theme/themed.tsx
Due: eslint --fix

improvement(ecommerce-tools): update gallery component to handle switching between images better
  packages/falcon-ecommerce-uikit/src/ProductGallery.tsx
Due: none

feat(shop&blog): update falcon-ui & shop & blog themes
  examples/shop-with-blog/client/src/theme.js
  packages/falcon-ui/src/theme/theme.ts
Due: eslint --fix

improvement(ecommerce-toolkit): rework footer component
  examples/shop-with-blog/client/src/App.js
  packages/falcon-ecommerce-uikit/src/Footer.tsx
  packages/falcon-ecommerce-uikit/src/Footer/Footer.tsx
  packages/falcon-ecommerce-uikit/src/Footer/FooterQuery.tsx
  packages/falcon-ecommerce-uikit/src/Footer/LanguageSwitcher.tsx
  packages/falcon-ecommerce-uikit/src/Footer/Newsletter.tsx
  packages/falcon-ecommerce-uikit/src/Footer/index.ts
  packages/falcon-ecommerce-uikit/src/index.ts
Due: eslint --fix

improvement(ecommerce-toolkit): re-enable product gallery
  packages/falcon-ecommerce-uikit/src/Product.tsx
Due: none

feat(ecommerce-toolki): add minicart - work in progress
  examples/shop-with-blog/client/src/App.js
  packages/falcon-ecommerce-uikit/src/Header/Header.tsx
  packages/falcon-ecommerce-uikit/src/MiniCart/MiniCartMutations.tsx
  packages/falcon-ecommerce-uikit/src/MiniCart/MiniCartQuery.tsx
  packages/falcon-ecommerce-uikit/src/MiniCart/index.ts
  packages/falcon-ecommerce-uikit/src/index.ts
Due: eslint --fix

feat(falcon-ui): work in progress translation support in base query component
  packages/falcon-ecommerce-uikit/src/Header/Header.tsx
  packages/falcon-ecommerce-uikit/src/Query/Query.tsx
Due: none

feat(ecommerce-tools): add mini cart mutations
  examples/shop-with-blog/client/src/clientState.js
Due: eslint --fix

improvement(ecommerce-tools): update query to pass data to getTranslations
  packages/falcon-ecommerce-uikit/src/Query/Query.tsx
Due: none

fix(falcon-ui): render sidebar with position fixed by default
  packages/falcon-ui/src/components/Sidebar.tsx
Due: none

feat(query-components): fixes
  examples/shop-with-blog/client/src/App.js
  packages/falcon-client/src/components/DynamicRoute.js
  packages/falcon-ecommerce-uikit/src/ProductQuery.tsx
Due: eslint --fix

feat(ecommerce-toolkit): mini cart work in progress
  examples/shop-with-blog/client/src/theme.js
  packages/falcon-ecommerce-uikit/src/MiniCart/MiniCart.tsx
Due: eslint --fix

improvement(ecommerce-toolkit): tweak product layout
  packages/falcon-ecommerce-uikit/src/Product.tsx
Due: none

feat(query-components): fix unittests
  packages/falcon-client/src/components/DynamicRoute.test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jxs,ts, tsx}
  prettier --write: any of: *.{json,css,scss,graphql,yml}
