Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(shop): fetching orders info from magneto
  packages/falcon-magento2-api/src/index.js
Due: eslint --fix

feat(shop): customer data management resolvers: manipulating addresses and user data
  packages/falcon-magento2-api/src/index.js
Due: eslint --fix

feat(shop): mutations for order placement
  packages/falcon-magento2-api/src/index.js
Due: eslint --fix

feat(shop): re-work resolvers to use magento info from execution context
  packages/falcon-magento2-api/src/Magento2ApiBase.js
  packages/falcon-magento2-api/src/index.js
Due: eslint --fix

feat(shop): cleanup resolvers - do not pass session param directly but put it in execution context so all the resolvers have direct access to the session
  examples/shop-with-blog/server/config/default.json
  packages/falcon-magento2-api/src/Magento2ApiBase.js
  packages/falcon-magento2-api/src/index.js
  packages/falcon-magento2-api/src/index.test.js
  packages/falcon-server/package.json
  packages/falcon-shop-extension/src/index.js
  packages/falcon-shop-extension/src/schema.graphql
Due: eslint --fix, prettier --write

refactor(magento-api): change context entry name from magento to magento2
  packages/falcon-magento2-api/src/Magento2ApiBase.js
  packages/falcon-magento2-api/src/index.js
  packages/falcon-magento2-api/src/index.test.js
Due: eslint --fix

docs(shop): update doc comments in magento api code
  packages/falcon-magento2-api/src/Magento2ApiBase.js
  packages/falcon-magento2-api/src/index.js
  packages/falcon-shop-extension/src/schema.graphql
Due: eslint --fix, prettier --write

docs(magento2-api): Readme content added
  packages/falcon-magento2-api/README.md
Due: none

docs(shop-extension): Readme content added
  packages/falcon-shop-extension/README.md
Due: none

refactor(shop): rename setConfig to setStoreConfig in shop extension and magento api
  packages/falcon-magento2-api/src/index.js
  packages/falcon-shop-extension/src/index.js
  packages/falcon-shop-extension/src/schema.graphql
Due: eslint --fix, prettier --write

feat: enable fully working SSR of styles
  examples/shop-with-blog/client/package.json
  packages/falcon-client/package.json
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
  packages/falcon-client/src/client.js
  packages/falcon-client/src/middlewares/routes/ssrMiddleware.js
  packages/falcon-ecommerce-uikit/package.json
Due: eslint --fix, prettier --write

feat(query-components): added translationsNamespaces into Query
  packages/falcon-ecommerce-uikit/src/Query/Query.tsx
Due: none

feat(query-components): used new version of Query component for ProductQuery
  packages/falcon-ecommerce-uikit/src/ProductQuery.tsx
Due: none

feat(query-components): updated product page
  examples/shop-with-blog/client/src/pages/shop/Product.js
Due: eslint --fix

feat(query-components): updated Product Component
  packages/falcon-ecommerce-uikit/src/Product.tsx
Due: none

feat(query-components): exposed productslistQuery
  packages/falcon-ecommerce-uikit/src/Products.tsx
Due: none

feat(query-components): updated home page
  examples/shop-with-blog/client/src/pages/Home.js
Due: eslint --fix

feat(ecommerce-toolkit): add minicart component design
  examples/shop-with-blog/client/src/assets/loader.svg
  examples/shop-with-blog/client/src/clientState.js
  examples/shop-with-blog/client/src/theme.js
  packages/falcon-ecommerce-uikit/src/AppLayout.tsx
  packages/falcon-ecommerce-uikit/src/Header/Header.tsx
  packages/falcon-ecommerce-uikit/src/MiniCart/MiniCart.tsx
  packages/falcon-ecommerce-uikit/src/MiniCart/MiniCartQuery.tsx
  packages/falcon-ecommerce-uikit/src/SidebarLayout.tsx
  packages/falcon-ecommerce-uikit/src/helpers.ts
  packages/falcon-ecommerce-uikit/src/index.ts
  packages/falcon-ui/src/components/Headings.tsx
  packages/falcon-ui/src/theme/theme.ts
Due: eslint --fix

feat(query-components): added AsyncComponent with defaults
  examples/shop-with-blog/client/src/components/Async.js
Due: eslint --fix

feat(query-components): added some basic Query component in falcon-client
  packages/falcon-client/src/components/Query/index.js
Due: eslint --fix

feat(query-components): simplified DynamicRoute
  packages/falcon-client/src/components/DynamicRoute.js
Due: eslint --fix

feat(query-components): clean up
  examples/shop-with-blog/client/src/pages/shop/Product.js
Due: eslint --fix

feat(query-components): fixed product breadcrumbs
  packages/falcon-ecommerce-uikit/src/Breadcrumbs.tsx
  packages/falcon-ecommerce-uikit/src/Product.tsx
Due: none

feat(query-components): improved types for ProductsList
  packages/falcon-ecommerce-uikit/src/Products.tsx
Due: none

feat(query-components): removed unecessary fields from query
  packages/falcon-ecommerce-uikit/src/ProductQuery.tsx
Due: none

feat(query-components): extracted CategoryQuery component, and displayed products from category
  packages/falcon-ecommerce-uikit/src/Category.tsx
Due: none

improvement(falcon-ui): update navbar component to hide itself when clicked
  packages/falcon-ui/src/components/Dropdown.tsx
  packages/falcon-ui/src/components/Navbar.tsx
Due: none

feat: add yarn size for shop and blog example to check bundle size & it's ingidients
  examples/shop-with-blog/client/package.json
  packages/falcon-client/package.json
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix, prettier --write

feat(query-components): updated Category page
  examples/shop-with-blog/client/src/pages/shop/Category.js
  packages/falcon-ecommerce-uikit/src/Category.tsx
Due: eslint --fix

feat(query-componentns): removed unecessary Query.tsx file
  packages/falcon-ecommerce-uikit/src/Query.tsx
Due: none

feat(query-components): displaying Category and Product PAges
  examples/shop-with-blog/client/src/App.js
Due: eslint --fix

feat(query-components): added translations for home
  examples/shop-with-blog/client/src/pages/Home.js
  packages/falcon-i18n/i18n/en/shop.json
Due: eslint --fix, prettier --write

feat(ecommerce-toolkit): connect header & banner with data provided by config, turn off addTypeName in apollo
  examples/shop-with-blog/client/config/default.json
  examples/shop-with-blog/client/src/clientState.js
  packages/falcon-client/src/service/ApolloClient.js
  packages/falcon-ecommerce-uikit/src/Header/Header.tsx
  packages/falcon-ecommerce-uikit/src/Header/HeaderQuery.tsx
Due: eslint --fix, prettier --write

feat(falcon-errors): Adding new "falcon-errors" package
  package.json
  packages/falcon-client/package.json
  packages/falcon-errors/index.js
  packages/falcon-errors/package.json
  packages/falcon-errors/src/codes.js
  packages/falcon-errors/src/errors.js
  packages/falcon-server/package.json
Due: eslint --fix, prettier --write

feat(falcon-server): Formatting and logging GraphQL errors
  packages/falcon-server/src/index.js
Due: eslint --fix

feat(query-components): added some tem fix for translations
  packages/falcon-client/src/middlewares/routes/ssrMiddleware.js
Due: eslint --fix

feat(query-components): fixed graph query for categories
  packages/falcon-ecommerce-uikit/src/Category.tsx
Due: none

feat(ecommerce-toolbox): footer defined based on config
  examples/shop-with-blog/client/config/default.json
  examples/shop-with-blog/client/src/clientState.js
  packages/falcon-ecommerce-uikit/src/Footer/Footer.tsx
  packages/falcon-ecommerce-uikit/src/Footer/FooterQuery.tsx
  packages/falcon-ecommerce-uikit/src/Footer/LanguageSwitcher.tsx
  packages/falcon-ecommerce-uikit/src/Header/Header.tsx
  packages/falcon-ecommerce-uikit/src/Header/HeaderQuery.tsx
Due: eslint --fix, prettier --write

feat(query-components): quering pagination for category products
  packages/falcon-ecommerce-uikit/src/Category.tsx
Due: none

feat(query-components): removed breadcrumbs from client state
  examples/shop-with-blog/client/src/clientState.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jxs,ts, tsx}
  prettier --write: any of: *.{json,css,scss,graphql,yml}
